In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python39\lib\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.22.4; python_version < "3.11" in c:\users\admin\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 20.2.3; however, version 24.3.1 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

INDEXING using iloc

In [1]:
import pandas as pd
df=pd.read_csv("C:/Users/Admin/Downloads/IRIS.csv")
print(df)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
df.iloc[:,[0,2]]

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

In [21]:
df.iloc[[2,6,94]]

    sepal_length  sepal_width  petal_length  petal_width          species
2            4.7          3.2           1.3          0.2      Iris-setosa
6            4.6          3.4           1.4          0.3      Iris-setosa
94           5.6          2.7           4.2          1.3  Iris-versicolor

SLICING

In [23]:
df.iloc[0:5]

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [25]:
df.iloc[2:9,0:2]

   sepal_length  sepal_width
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4
8           4.4          2.9

In [34]:
df[df["sepal_width"]>4.1]

    sepal_length  sepal_width  petal_length  petal_width      species
15           5.7          4.4           1.5          0.4  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa

In [36]:
sel_row=df.query("sepal_width > 4")
print(sel_row.to_string(index=False))

 sepal_length  sepal_width  petal_length  petal_width     species
          5.7          4.4           1.5          0.4 Iris-setosa
          5.2          4.1           1.5          0.1 Iris-setosa
          5.5          4.2           1.4          0.2 Iris-setosa

In [41]:
name_filter=["Iris-setosa"]
df[df["species"].isin(name_filter)]
#print(sel_row.to_string(index=True))

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

In [4]:
data={
 "Continent": ["North America", "Europe", "Asia", "North America", 
"Asia", "Europe", "North America", "Asia", "Europe", "Asia"],
 "Country": ["United States", "Germany", "China", "Canada", 
"Japan", "France", "Mexico", "India", "United Kingdom", "Nepal"],
 "Population": [331002651, 83783942, 1439323776, 37742154, 
126476461, 65273511, 128932753, 1380004385, 67886011, 29136808]
}
df1=pd.DataFrame(data)
#print(df1)
df1.sort_values("Continent",inplace=True)
df1.set_index(["Continent","Country"],inplace=True)
print(df1)

                              Population
Continent     Country
Asia          China           1439323776
              Japan            126476461
              India           1380004385
              Nepal             29136808
Europe        Germany           83783942
              France            65273511
              United Kingdom    67886011
North America United States    331002651
              Canada            37742154
              Mexico           128932753

In [6]:
print(df1.duplicated())

Continent      Country
Asia           China             False
               Japan             False
               India             False
               Nepal             False
Europe         Germany           False
               France            False
               United Kingdom    False
North America  United States     False
               Canada            False
               Mexico            False
dtype: bool

In [24]:
data1 = {'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
 'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
 'Temperature': [32, 75, 30, 77],
 'Humidity': [80, 10, 85, 5]}

df2= pd.DataFrame(data1)

pivot_df = df2.pivot_table(index=['City','Temperature'], columns='Date', 
values='Humidity',aggfunc="mean")
print(pivot_df)

Date                     2023-01-01  2023-01-02
City        Temperature
Los Angeles 75                 10.0         NaN
            77                  NaN         5.0
New York    30                  NaN        85.0
            32                 80.0         NaN